.card{
    animation-duration: 5s;
    
    animation-iteration-count: infinite;
}
.card1{
    background-color: red;
    animation-name: moveDown;
}
.card2{
    background-color: yellow;
    animation-name: moveUp;
}
.container{
    display: flex;
}
 p{
    color: green;
    font-size: large;
    text-align: center;
    padding: 10px;  
 }
 .animate-p{
    animation-name: changeColor;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
 }
 
 @keyframes changeColor{
    from{scale: 0.5;}
    to{scale: 1;}

 }

@keyframes moveDown{
    from{transform: translateY(0px)}
    to{transform: translateY(100vh)}
}
@keyframes moveUp{
    from{transform: translateY(100vh)}
    to{transform: translateY(-200px)}
}

